<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4Sample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Candal" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid px-0">
      <noscript>
        <div class="alert alert-warning" role="alert">
          <strong>This application needs JavaScript enabled in your browser. </strong> <a href="http://www.enable-javascript.com" class="alert-link">Here is how to enable it.</a>
        </div>
      </noscript>
      <%= yield %>
    </div>
  </body>
</html>
